body{
  background-color: #ebebeb;
}
h1{
  color: #0ec2b8;
  text-align: center;
  padding: 20px;
}
h2{
  color: #0ec2b8;
  padding: 10px;
}
h5{
  color: #4183c2;
}
h6{
  font-weight: bold;
}

img{
  float: left;
  padding: 1px;
  border: 1px solid #464646;
  margin: 10px;
}

.cursive {
font-family: cursive;
font-size: large;
}

.centering{
  text-align: right;
}

.welcome p{
  font-size: larger;
  color: #4183c2;
  font-weight: bold;
}

.small{
  font-family: cursive;
}
p{
  color: #464646;
}
.link_deco{
 color: #4183c2; 
font-size: xx-large;
text-align: center;
text-decoration: underline;
}